beautifulsoup4
selenium
pyvirtualdisplay
tabulate
requests
face_recognition
django
numpy
scipy
matplotlib
scikit-image
scikit-learn
ipython
dlib
facebook-sdk
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
