beautifulsoup4
selenium
pyvirtualdisplay
tabulate
requests
face_recognition
django
numpy
scipy
matplotlib
scikit-image
scikit-learn
ipython
dlib
facebook-sdk
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
